doctype html
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/main.css")
body
	.wrapper
		header
			.header_container
				.header_logo
					a(href="#")
						img.img-responsive(src="img/logo.png", alt="loading")
				.header_menu
					nav
						ul.list
							li
								a(href="#") Автопарк
							li
								a(href="#") Тарифы
							li
								a(href="#") Отзывы
							li
								a(href="#") Сертификаты
							li
								a(href="#") Контакты
				.header_phone
					.header_phone_link
						a(href="tel:8-888-888-8888")
							img(src="img/phone.png", alt="loading")
							| 8-888-888-8888
					.header_phone_btn
						button(type="button").btn Заказать звонок
		main
			section.start-screen
				.start-screen_img
					img(src="img/s-screen.png", alt="loading")
				.container
					.row
						.col-md-6
							.start-screen_content
								.start-screen_content_title
									h1.title Обучение в автошколе<br/>за 2,5 месяца<br/> с гарантией результата
								.start-screen_content_info
									ul.list
										li Без дополнительных платежей
										li Обучение начинаеться от 1000 руб
									button(type="button").btn Рассчитать стоимость
			section.goods
				.container
					.row
						.goods_container
							.goods_list
								.goods_list_title
									h2.title Честно обучение в Автошколе
								.goods_list_content
									p.sub-title С помощью личного кабинета ученика:
									ul.list
										li
											span
												img(src="img/goods-1.png", alt="loading")
											| Выбираете инструктора
										li
											span
												img(src="img/goods-2.png", alt="loading")
											| Оцениваете и влияете на рейтинг инструктора
										li
											span
												img(src="img/goods-3.png", alt="loading")
											| Контролируете время вождения и количество занятий
										li
											span
												img(src="img/goods-4.png", alt="loading")
											| Получаете возможность онлайн-записи на вождение! Планируйте часы, когда ВАМ удобно!
										li
											span
												img(src="img/goods-5.png", alt="loading")
											| Решаете билеты, сдаете зачеты и видите свой прогресс по темам теории ПДД
										li
											span
												img(src="img/goods-6.png", alt="loading")
											| Гарантированно получаете весь объем теоретических знаний и уверенно сдаете экзамен в ГИБДД
									button(type="button").btn Попробовать бесплатно!
							.goods_img
								img(src="img/desktop.png", alt="loading").img-responsive
			section.autopark
				.container
					.row
						.col-md-12
							.autopark_title
								h2.title Обучаем на новых автомобилях из собственного автопарка
							.autopark_info
								.autopark_info_position
									span.img
										img(src="img/sm-car.png", alt="loading")
									span.text Для вас выбор 7 марок машин
								.autopark_info_position
									span.img
										img(src="img/sm-road.png", alt="loading")
									span.text Собственный автодром только для наших учеников!
							.autopark_content
								.autopark_content_title
									h3.title Выберите машину на которой хотите обучаться:
								.autopark_content_main
									form(action="")
										fieldset#car_pos
											.positions_container
												.position(data-trans="Механическая" data-year="2013" data-capacity="1.6")
													input(type="radio" name="#car_pos").input-radio
													.position_title
														h4.title Kia Soul 2013
														p.sub-title (1.6 МКПП)
													.position_img
														img(src="img/kia-soul.png", alt="loading").img-responsive
												.position(data-trans="Автоматическая" data-year="2007" data-capacity="1.5")
													input(type="radio" name="#car_pos").input-radio
													.position_title
														h4.title Toyota Prius 2007
														p.sub-title (1.5 АКПП)
													.position_img
														img(src="img/prius.png", alt="loading").img-responsive
												.position(data-trans="Автоматическая" data-year="2006" data-capacity="1.6")
													input(type="radio" name="#car_pos").input-radio
													.position_title
														h4.title Toyota Corolla 2006
														p.sub-title (1.6 АКПП)
													.position_img
														img(src="img/corolla.png", alt="loading").img-responsive
												.position(data-trans="Механическая" data-year="2008" data-capacity="2")
													input(type="radio" name="#car_pos").input-radio
													.position_title
														h4.title Toyota  Avensis 2008
														p.sub-title (2 МКПП)
													.position_img
														img(src="img/avensis.png", alt="loading").img-responsive
												.position(data-trans="Автоматическая" data-year="1997" data-capacity="1.6")
													input(type="radio" name="#car_pos").input-radio
													.position_title
														h4.title Toyota Carina 1997
														p.sub-title (1.6 AКПП)
													.position_img
														img(src="img/carina.png", alt="loading").img-responsive
												.position(data-trans="Автоматическая" data-year="2002" data-capacity="1.6")
													input(type="radio" name="#car_pos").input-radio
													.position_title
														h4.title Audi A6 2002
														p.sub-title (1.6 AКПП)
													.position_img
														img(src="img/a6.png", alt="loading").img-responsive
												.position(data-trans="Механическая" data-year="2012" data-capacity="1.2")
													input(type="radio" name="#car_pos").input-radio
													.position_title
														h4.title Volkswagen Golf 2012
														p.sub-title (1.2 МКПП)
													.position_img
														img(src="img/golf.png", alt="loading").img-responsive
												.position(data-trans="Автоматическая" data-year="2011" data-capacity="1.6")
													input(type="radio" name="#car_pos").input-radio
													.position_title
														h4.title Nissan Juke 2011
														p.sub-title (1.6 AКПП)
													.position_img
														img(src="img/juke.png", alt="loading").img-responsive
							.autopark_position
								.autopark_position_content
									p.capa
										span.title Обьем двигателя:
										span.value 
									p.trans
										span.title Коробка передач:
										span.value Механическая
									p.year
										span.title Год выпуска:
										span.value 
									button(type="button").btn
										span.title Забронировать 
										span.value 
			section.rates
				.container
					.row
						.col-md-12
							.rates_title
								h2.title Гарантируем – вы научитесь водить уверенно
								p.sub-title Выберите тариф и узнайте стоимость вашего обучения
							.rates_content
								.rates_content_title
									p.title Все тарифы включают в себя: полный курс теории, 56 часов по вождению, бензин для практических занятий и личный кабинет ученика.
								.rates_content_container
									.position
										p.title Базовый
											img(src="img/rates-1.png", alt="loading")
										ul.list
											li Срок обучения 3 месяца 
											li Обучение теории онлайн
											li.null
										button(type="button").btn Узнать цену
									.position
										p.title Продвинутый
											img(src="img/rates-2.png", alt="loading")
										ul.list
											li Срок обучения 3 месяца 
											li Обучение теории в классе + онлайн
											li Автомобиль на выбор
											li Тренировка вождения по дополнительному маршруту на выбор ученика (Дом - Работа и т.д.)
										button(type="button").btn Узнать цену
									.position
										p.title Премиум
											img(src="img/rates-3.png", alt="loading")
										ul.list
											li Срок обучения 1,5 месяца 
											li Обучение теории в классе + онлайн
											li Автомобиль на выбор
											li Тренировка вождения по дополнительному маршруту на выбор ученика (Дом - Работа и т.д.)
											li Тренировка вождения на парковке в реальных условиях (торговый центр, фитнес центр и т.д.)
											li Бесплатная пересдача экзаменов
											li Индивидуальный график обучения
											li Индивидуальные занятия по теории
										button(type="button").btn Узнать цену
	script(src="js/jquery-3.3.1.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/common.js")